@using System.Security.Claims;
@using CookWithMe.Common;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@this.ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/colors/green.css" id="colors" asp-append-version="true">
    <link rel="shortcut icon" href="https://res.cloudinary.com/cookwithme-cloud/image/upload/v1565711673/common/favicon_ydl4et.ico" />
</head>
<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Header
        ================================================== -->
        <header id="header">
            <!-- Container -->
            <div class="container">
                <!-- Logo -->
                <div class="three columns">
                    <div id="logo">
                        <h1><a href="/"><img src="https://res.cloudinary.com/cookwithme-cloud/image/upload/v1565711651/common/logo_aydqmv.png" alt="Cook With Me" /></a></h1>
                    </div>
                </div>
                <!-- Navigation
                ================================================== -->
                @*TODO: Refactor this*@
                @if (this.User.Identity.IsAuthenticated && this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <div class="thirteen columns navigation">
                        <nav id="navigation" class="menu nav-collapse">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>
                                    <a href="#">Recipes</a>
                                    <ul>
                                        <li><a href="/Administration/Recipes/Create">Add</a></li>
                                        <li><a href="/Recipes/Browse">Browse</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Categories</a>
                                    <ul>
                                        <li><a href="/Administration/Categories/Create">Add</a></li>
                                        <li><a href="/Categories/Recipes/@GlobalConstants.FirstCategoryId">Browse</a></li>
                                    </ul>
                                </li>
                                @*TODO: Refactor this*@
                                @if (this.User.FindFirst(ClaimTypes.Name).Value == @Configuration.GetSection("Root")["UserName"])
                                {
                                    <li>
                                        <a href="#">Administrators</a>
                                        <ul>
                                            <li><a href="/Administration/Administrators/Register">Register</a></li>
                                            <li><a href="/Administration/Administrators/All">All</a></li>
                                        </ul>
                                    </li>
                                }
                                <li>
                                    <a href="#">Account</a>
                                    <ul>
                                        <li><a href="/Administration/Recipes/All">My Recipes</a></li>
                                        <li><a href="/Users/EditAdditionalInfo">Additional Info</a></li>
                                        <li><a href="/Identity/Account/Logout">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                }
                else if (this.User.Identity.IsAuthenticated && this.User.IsInRole(GlobalConstants.UserRoleName))
                {
                    <div class="thirteen columns navigation">
                        <nav id="navigation" class="menu nav-collapse">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>
                                    <a href="#">Recipes</a>
                                    <ul>
                                        <li><a href="/Recipes/Favorite">Favorite Recipes</a></li>
                                        <li><a href="/Recipes/Cooked">Cooked Recipes</a></li>
                                        <li><a href="/Recipes/Browse">Browse</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Account</a>
                                    <ul>
                                        <li><a href="/Users/EditAdditionalInfo">Additional Info</a></li>
                                        <li><a href="/ShoppingLists/All">Shopping Lists</a></li>
                                        <li><a href="/Identity/Account/Logout">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                }
                else
                {
                    <div class="thirteen columns navigation">
                        <nav id="navigation" class="menu nav-collapse">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/Identity/Account/Register">Register</a></li>
                                <li><a href="/Identity/Account/Login">Login</a></li>
                            </ul>
                        </nav>
                    </div>
                }
            </div>
            <!-- Container / End -->
        </header>
    </div>
    <div class="margin-top-5"></div>
    <!-- Wrapper / End -->
    <main role="main">
        @this.RenderBody()
    </main>
    <br />
    <!-- Footer
    ================================================== -->
    <div id="footer">
        <!-- Container -->
        <div class="container">
            <div class="twelve columns">
                <!-- Headline -->
                <h3 class="headline footer">About</h3>
                <span class="line"></span>
                <div class="clearfix"></div>
                <p>The team of experts behind "Cook With Me" is here to present you with awesome recipes and make your experience in the kitchen as smooth as possible.</p>
            </div>
            @await Component.InvokeAsync("FooterLinks")
        </div>
        <!-- Container / End -->
    </div>
    <!-- Footer / End -->
    <!-- Footer Bottom / Start -->
    <div id="footer-bottom">
        <!-- Container -->
        <div class="container">
            <div class="eight columns">©@DateTime.Now.Year All featured content is owned by <a href="#">Delish.com</a> and is used for educational purposes only.</div>
        </div>
        <!-- Container / End -->
    </div>
    <!-- Footer Bottom / End -->
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/js/scripts/jquery-1.11.0.min.js" asp-append-version="true"></script>
    <script src="~/js/scripts/jquery-migrate-1.2.1.min.js" asp-append-version="true"></script>
    <script src="~/js/scripts/jquery.superfish.js" asp-append-version="true"></script>
    <script src="~/js/scripts/jquery.royalslider.min.js" asp-append-version="true"></script>
    <script src="~/js/scripts/responsive-nav.js" asp-append-version="true"></script>
    <script src="~/js/scripts/hoverIntent.js" asp-append-version="true"></script>
    <script src="~/js/scripts/isotope.pkgd.min.js" asp-append-version="true"></script>
    <script src="~/js/scripts/chosen.jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/scripts/jquery.tooltips.min.js" asp-append-version="true"></script>
    <script src="~/js/scripts/jquery.magnific-popup.min.js" asp-append-version="true"></script>
    <script src="~/js/scripts/jquery.pricefilter.js" asp-append-version="true"></script>
    <script src="~/js/scripts/custom.js" asp-append-version="true"></script>
    @this.RenderSection("Scripts", required: false)
</body>
</html>
