@model ErrorViewModel
@{
    this.ViewData["Title"] = "Error";
}

<!-- Titlebar
================================================== -->
<section id="titlebar">
    <!-- Container -->
    <div class="container">

        <div class="eight columns">
            <h2>Oops! Something went wrong.</h2>
        </div>

    </div>
    <!-- Container / End -->
</section>


<!-- Content
================================================== -->
<div class="container">

    <!-- Masonry -->
    <div class="sixteen columns">

        <h3>Please try again later. If the error persists, contact the owner.</h3>

        <div class="margin-bottom-35"></div>

        <strong>Status code:</strong> <code>@this.Model.StatusCode</code>

        @if (this.Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@this.Model.RequestId</code>
            </p>
        }

    </div>

</div>

<div class="margin-top-20"></div>