@{
    this.ViewData["Title"] = "Cook With Me";
}


<div id="homeSlider" class="royalSlider">
 
    <div class="rsContent">

        <a class="rsImg" href="https://res.cloudinary.com/cookwithme-cloud/image/upload/v1564058151/index/index_recipe_gcxfbu.jpg"></a>

        <div class="SlideTitleContainer rsABlock">
            <div class="CaptionAlignment">

                <h2 class="rsSlideTitle title"><a href="/Identity/Account/Register">Join our cooking community now!</a></h2>

                <a class="rsSlideTitle button" href="/Identity/Account/Register">Register</a>
                <a class="rsSlideTitle button" href="/Identity/Account/Login">Login</a>

            </div>
        </div>

    </div>

</div>
