@model CookWithMe.Web.ViewComponents.Models.SuccessAlertViewComponentViewModel

<div class="notification success closeable">
    <p>@this.Model.SuccessMessage</p>
    <a class="close" href="#"></a>
</div>
<div class="margin-bottom-25"></div>