@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<!-- Titlebar
================================================== -->
<section id="titlebar">
    <!-- Container -->
    <div class="container">

        <div class="eight columns">
            <h2>@ViewData["Title"]</h2>
        </div>

    </div>
    <!-- Container / End -->
</section>

<!-- Content
================================================== -->
<div class="container">

    <!-- Masonry -->
    <div class="sixteen columns">

        <h4>You do not have access to this resource.</h4>

        <div class="margin-bottom-50"></div>

    </div>

    <br />
    <div class="margin-bottom-50"></div>
    <br />

</div>

<br />
<div class="margin-top-50"></div>
<br />