@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<!-- Titlebar
================================================== -->
<section id="titlebar">
    <div class="container">
        <div class="eight columns">
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>
</section>
<!-- Content
================================================== -->
<div class="container">
    <div class="sixteen columns">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="register-user-form">
            <!-- Username -->
            <h4>Username</h4>
            <nav class="input-val form-group">
                <input type="text" asp-for="Input.Username" class="form-control" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </nav>
            <div class="clearfix"></div>
            <div class="margin-top-25"></div>
            <!-- Full Name -->
            <h4>Full Name</h4>
            <nav class="input-val form-group">
                <input type="text" asp-for="Input.FullName" class="form-control" />
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </nav>
            <div class="clearfix"></div>
            <div class="margin-top-25"></div>
            <!-- Email -->
            <h4>Email</h4>
            <nav class="input-val form-group">
                <input type="email" asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </nav>
            <div class="clearfix"></div>
            <div class="margin-top-25"></div>
            <!-- Password -->
            <h4>Password</h4>
            <nav class="input-val form-group">
                <input type="password" asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </nav>
            <div class="clearfix"></div>
            <div class="margin-top-25"></div>
            <!-- Confirm Password -->
            <h4>Confirm Password</h4>
            <nav class="input-val form-group">
                <input type="password" asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </nav>
            <div class="clearfix"></div>
            <div class="margin-top-30"></div>
            <button type="submit" class="button color big">Register</button>
        </form>
    </div>
</div>
<div class="margin-top-50"></div>
