@model IEnumerable<CookWithMe.Web.ViewModels.Administrators.All.AdministratorAllViewModel>

@{
    ViewData["Title"] = "Administrators";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Titlebar
================================================== -->
<section id="titlebar">
    <div class="container">
        <div class="eight columns">
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>
</section>
<!-- Content
================================================== -->
<div class="container">
    <div class="six columns">
        @if (this.TempData["Success"] != null)
        {
            @await Component.InvokeAsync("SuccessAlert", new { message = this.TempData["Success"] });
        }
        @if (this.TempData["Error"] != null)
        {
            @await Component.InvokeAsync("ErrorAlert", new { message = this.TempData["Error"] });
        }
        @foreach (var admin in Model)
        {
            <div class="widget">
                <div class="author-box">
                    <span class="title">Administrator</span>
                    <br />
                    <span class="name">@admin.FullName</span>
                    <p>Full Name</p>
                    <br />
                    <span class="name">@admin.Username</span>
                    <p>Username</p>
                    <br />
                    <a href="/Administration/Administrators/RemoveFromRole/@admin.Id" class="button medium">Remove From Role</a>
                </div>
            </div>
        }
        <br />
        <div class="margin-bottom-50"></div>
        <br />
    </div>
</div>
<div class="margin-top-50"></div>
