@model CookWithMe.Web.ViewComponents.Models.ErrorAlertViewComponentViewModel

<div class="notification error closeable">
    <p><span>Error!</span> @this.Model.ErrorMessage</p>
    <a class="close" href="#"></a>
</div>
<div class="margin-bottom-25"></div>