@model CookWithMe.Web.InputModels.Reviews.Create.ReviewCreateInputModel

@{
    ViewData["Title"] = "Submit Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Titlebar
================================================== -->
<section id="titlebar">
    <div class="container">
        <div class="eight columns">
            <h2 class="review-title">@ViewData["Title"]</h2>
            <p>for @Model.Recipe.Title</p>
        </div>
    </div>
</section>
<div class="container">
    <div class="sixteen columns">
        @if (this.TempData["Error"] != null)
        {
            @await Component.InvokeAsync("ErrorAlert", new { message = this.TempData["Error"] });
        }
        <!-- Add Review
    ================================================== -->
        <!-- Add Review Form -->
        <form asp-action="Create" id="add-review" class="add-comment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <fieldset>
                <input asp-for="Recipe.Id" type="hidden" value="@Model.Recipe.Id">
                <input asp-for="Recipe.Title" type="hidden" value="@Model.Recipe.Title">
                <div class="form-group">
                    <label>Rating:</label>
                    <input asp-for="Rating" class="form-control" />
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <label asp-for="Comment" class="control-label">Comment:</label>
                    <textarea asp-for="Comment" class="WYSIWYG form-control" cols="40" rows="3" spellcheck="true"></textarea>
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
            </fieldset>
            <div class="margin-top-30"></div>
            <button type="submit" class="button color big">Submit Review</button>
        </form>
    </div>
</div>
<div class="margin-top-50"></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
