@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<!-- Titlebar
================================================== -->
<section id="titlebar">
    <div class="container">
        <div class="eight columns">
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>
</section>
<!-- Content
================================================== -->
<div class="container">
    <div class="sixteen columns">
        <h5>Your account contains personal data that you have given us. This page allows you to download or delete that data.</h5>
        <h5>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </h5>
        <div class="margin-top-30"></div>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button type="submit" class="button color big">Download</button>
        </form>
        <div class="margin-top-10"></div>
        <h5>
            <a id="delete" asp-page="DeletePersonalData">Delete</a>
        </h5>
    </div>
</div>
<div class="margin-top-50"></div>
